@using Microsoft.AspNetCore.Identity
@inject UserManager<Bloggy.Models.ApplicationUser> UserManager


@model Bloggy.ViewModels.BlogPostViewModel

<h1>@Model.Title</h1>
<div class="card" style="width: 90%;padding:20px; margin:20px;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Image for @Model.Title" />
    <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <p class="small">Type of hazard : @Model.Category.Name</p>
        <p class="small">Status : @Model.Status.Name</p>
        <p class="small">Location : @Model.Location </p>
        <p class="small">Spotted Date : @Model.SpottedDate</p>
        <p class="small">Created Date : @Model.CreatedDate</p>
        <p class="small">By @Model.Author.Name</p>
    </div>
</div>

<a asp-controller="BlogPost" asp-action="Index" class="btn btn-primary">Back to list</a>

@if (User.Identity.IsAuthenticated)
{
    if (UserManager.GetUserAsync(User).Result.Id == Model.Author.Id)
    {
        <a asp-controller="BlogPost" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a>
        <a asp-controller="BlogPost" asp-action="DeleteConfirmed" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
    }
}

}
@if (User.IsInRole("Administrator"))
{
    if (@Model.HasInvestigation == false)
    {
        <a asp-controller="Investigation" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary">Create investigation</a>
    }
}