@model Bloggy.ViewModels.BlogPostListViewModel

@{
    ViewData["Title"] = "Reports";
}

<h1>@ViewData["Title"]</h1>

<h2>Showing @Model.TotalEntries Report entries</h2>

<div class="row">
    @foreach (var blogPost in Model.BlogPosts)
    {
        <div class="card" style="width: 18rem;padding:20px; margin:20px;">
            <img class="card-img-top" src="@blogPost.ImageUrl" alt="Image for @blogPost.Title" />
            <div class="card-body">
                <h3 class="card-title">@blogPost.Title</h3>
                <p class="small">@blogPost.SpottedDate.ToShortDateString() Type of hazard : @blogPost.Category.Name Location : @blogPost.Location by @blogPost.Author.Name</p>
                <a asp-controller="BlogPost" asp-action="Details" asp-route-id="@blogPost.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
